Repository zscaler/zscaler-sdk-python: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, zia-vcr, zpa-vcr, zcc-vcr, zdx-vcr, ztw-vcr, zidentity-vcr, zeasm-vcr

codecov.yml:

# Codecov Configuration
# https://docs.codecov.com/docs/codecov-yaml

codecov:
  require_ci_to_pass: true

coverage:
  precision: 2
  round: down
  range: "70...100"
  status:
    project:
      default:
        target: auto
        threshold: 1%
        informational: false
    patch:
      default:
        target: auto
        threshold: 1%
        informational: false

parsers:
  gcov:
    branch_detection:
      conditional: true
      loop: true
      macro: false
      method: false

comment:
  layout: "reach,diff,flags,files"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true

ignore:
  - "tests/**/*"
  - "local_dev/**/*"
  - "examples/**/*"
  - "docsrc/**/*"
  - "docs/**/*"
  - "**/__init__.py"
  - "**/conftest.py"
  - "**/models/**/*"
  - "zscaler/*/models/*"
  - "zscaler/zia/models/*"
  - "zscaler/zpa/models/*"
  - "zscaler/zcc/models/*"
  - "zscaler/zdx/models/*"
  - "zscaler/ztw/models/*"
  - "zscaler/zidentity/models/*"
  - "zscaler/zeasm/models/*"

flags:
  unittests:
    paths:
      - zscaler/
    carryforward: true
  zia-vcr:
    paths:
      - zscaler/zia/
    carryforward: true
  zpa-vcr:
    paths:
      - zscaler/zpa/
    carryforward: true
  zcc-vcr:
    paths:
      - zscaler/zcc/
    carryforward: true
  zdx-vcr:
    paths:
      - zscaler/zdx/
    carryforward: true
  ztw-vcr:
    paths:
      - zscaler/ztw/
    carryforward: true
  zidentity-vcr:
    paths:
      - zscaler/zidentity/
    carryforward: true
  zeasm-vcr:
    paths:
      - zscaler/zeasm/
    carryforward: true

# Codecov AI Configuration
ai_pr_review:
  enabled: true

chore: Fixed dev_requirements for readthedocs
  docsrc/dev_requirements.txt
Due: none

fix: Fixed ZCELL Sim Handling model details
  CHANGELOG.md
  docsrc/conf.py
  docsrc/zs/guides/release_notes.rst
  docsrc/zs/zcell/index.rst
  pyproject.toml
  zscaler/__init__.py
  zscaler/zcell/models/sim_handling.py
  zscaler/zcell/sim_handling.py
  zscaler/zcell/zcell_service.py
Due: unittests

fix: Fixed ZCELL Sim Handling model details (#543)
  CHANGELOG.md
  docsrc/conf.py
  docsrc/zs/guides/release_notes.rst
  docsrc/zs/zcell/index.rst
  pyproject.toml
  zscaler/__init__.py
  zscaler/zcell/models/sim_handling.py
  zscaler/zcell/sim_handling.py
  zscaler/zcell/zcell_service.py
Due: unittests

Notes added by 'git notes add'
  1a/994d0447a4aa5da19471111954cfca2cda3acb
Due: none

fix: Added newly nested attributes within the ZPA and models.
  CHANGELOG.md
  docsrc/zs/guides/release_notes.rst
  pyproject.toml
  zscaler/__init__.py
  zscaler/zpa/models/app_connector_groups.py
  zscaler/zpa/models/app_connectors.py
Due: none

fix: Added newly nested attributes within the ZPA and models.
  poetry.lock
  requirements.txt
Due: none

fix: Added newly nested attributes within the ZPA and models. (#545)
  CHANGELOG.md
  docsrc/zs/guides/release_notes.rst
  poetry.lock
  pyproject.toml
  requirements.txt
  zscaler/__init__.py
  zscaler/zpa/models/app_connector_groups.py
  zscaler/zpa/models/app_connectors.py
Due: none

Notes added by 'git notes add'
  6f/f5bc97d02e1e1b4c564e2f0a8986edc730e03f
Due: none

fix: Fixed ZPA model to include new attributes , , ,
  CHANGELOG.md
  docsrc/conf.py
  docsrc/zs/guides/release_notes.rst
  pyproject.toml
  zscaler/__init__.py
  zscaler/zpa/models/application_segment.py
Due: none

fix: Fixed ZPA model to include new attributes , , ,
  poetry.lock
  requirements.txt
Due: none

Fixed ZPA `application_segment` model to include new attributes `extDomain`, `extDomainName`, `extId`, `extLabel` (#548)
  CHANGELOG.md
  docsrc/conf.py
  docsrc/zs/guides/release_notes.rst
  poetry.lock
  pyproject.toml
  requirements.txt
  zscaler/__init__.py
  zscaler/zpa/models/application_segment.py
Due: none

fix: handle missing lastModifiedBy in TrafficGRETunnel
  zscaler/zia/models/gre_tunnels.py
Due: none

chore: Constrain ruff to 0.15.x to keep lint rules stable
  poetry.lock
  pyproject.toml
Due: none

Notes added by 'git notes add'
  d2/eb8096283e0aa32f88c0033bc77609caa0e5c9
Due: none

fix: Added new URL Category Lite endpoint and Fixed Zcell Location groups model
  CHANGELOG.md
  docsrc/zs/guides/release_notes.rst
  poetry.lock
  pyproject.toml
  zscaler/__init__.py
  zscaler/zcell/models/sim_location_groups.py
  zscaler/zcell/sim_location_groups.py
  zscaler/zia/url_categories.py
Due: unittests, zia-vcr

chore: Updated requirements.txt and poetry.lock
  poetry.lock
  requirements.txt
Due: none

fix: Added new URL Category Lite endpoint and Fixed Zcell Location groups model (#557)
  CHANGELOG.md
  docsrc/zs/guides/release_notes.rst
  poetry.lock
  pyproject.toml
  requirements.txt
  zscaler/__init__.py
  zscaler/zcell/models/sim_location_groups.py
  zscaler/zcell/sim_location_groups.py
  zscaler/zia/url_categories.py
Due: unittests, zia-vcr

Notes added by 'git notes add'
  c7/14f78bcb9de8cedd23d605e59909c9134611c1
Due: none

fix: Added New ZPA and ZIA Attributes
  CHANGELOG.md
  docsrc/zs/guides/release_notes.rst
  zscaler/zia/models/url_filter_cloud_app_settings.py
  zscaler/zia/url_filtering.py
  zscaler/zpa/models/application_segment.py
Due: unittests, zia-vcr

fix: Added New ZPA and ZIA Attributes (#558)
  CHANGELOG.md
  docsrc/zs/guides/release_notes.rst
  zscaler/zia/models/url_filter_cloud_app_settings.py
  zscaler/zia/url_filtering.py
  zscaler/zpa/models/application_segment.py
Due: unittests, zia-vcr

chore(release): 1.9.41
  pyproject.toml
  zscaler/__init__.py
Due: none

Notes added by 'git notes add'
  5b/ef9cbdb85d881502899bf98550496df0ecb0db
Due: none

fix: Fixed ZCC pagination has_next() on flat-array list endpoints (#563)
  CHANGELOG.md
  docsrc/zs/guides/release_notes.rst
  tests/unit/test_oneapi_response.py
  zscaler/oneapi_response.py
  zscaler/zia/url_categories.py
  zscaler/zpa/models/application_segment.py
Due: unittests, zia-vcr

fix: Fixed ZCC pagination has_next() on flat-array list endpoints (#563) (#564)
  CHANGELOG.md
  docsrc/zs/guides/release_notes.rst
  poetry.lock
  requirements.txt
  tests/unit/test_oneapi_response.py
  zscaler/oneapi_response.py
  zscaler/zia/url_categories.py
  zscaler/zpa/models/application_segment.py
Due: unittests, zia-vcr

chore(release): 1.9.42
  pyproject.toml
  zscaler/__init__.py
Due: none

Notes added by 'git notes add'
  be/c2582e5f0a944f0db7bcc05f0fe87325de45b6
Due: none

fix: audit and label all tools returning externally-authored content
  zscaler/zpa/app_connector_groups.py
  zscaler/zpa/service_edge_group.py
Due: unittests, zpa-vcr

chore(release): 1.9.43
  pyproject.toml
  zscaler/__init__.py
Due: none

Notes added by 'git notes add'
  34/ff00e568caf84c84aae5eb462ce831bd0e18bd
Due: none

fix: Route AI Guard policy detection through the legacy client (#572)
  CHANGELOG.md
  docsrc/zs/guides/release_notes.rst
  poetry.lock
  pyproject.toml
  requirements.txt
  zscaler/__init__.py
  zscaler/oneapi_http_client.py
  zscaler/request_executor.py
Due: unittests

fix: Route AI Guard policy detection through the legacy client (#572) (#572)
  CHANGELOG.md
  docsrc/zs/guides/release_notes.rst
  poetry.lock
  pyproject.toml
  requirements.txt
  zscaler/__init__.py
  zscaler/oneapi_http_client.py
  zscaler/request_executor.py
Due: unittests

Notes added by 'git notes add'
  e7/f5f7efb56b6e24667f183e5dff3da03e039cc9
Due: none

fix: guard against None action in ZPA isolation policy rule updates
  tests/unit/test_zpa_policies.py
  zscaler/zpa/policies.py
Due: unittests, zpa-vcr

fix: treat server_group_ids=None as not supplied in ZPA app segments
  tests/unit/test_zpa_app_segment_server_group_ids.py
  zscaler/zpa/app_segments_ba.py
  zscaler/zpa/app_segments_ba_v2.py
  zscaler/zpa/app_segments_inspection.py
  zscaler/zpa/app_segments_pra.py
  zscaler/zpa/application_segment.py
Due: unittests, zpa-vcr

feat(aiguard): add optional user to resolve_and_execute_policy
  zscaler/aiguard/models/policy_detection.py
  zscaler/aiguard/policy_detection.py
Due: unittests

feat(aiguard): add optional user to resolve_and_execute_policy (#587)
  zscaler/aiguard/models/policy_detection.py
  zscaler/aiguard/policy_detection.py
Due: unittests

chore(release): 1.10.0
  pyproject.toml
  zscaler/__init__.py
Due: none
