Repository zscaler/zscaler-sdk-python: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, zia-vcr, zpa-vcr, zcc-vcr, zdx-vcr, ztw-vcr, zidentity-vcr, zeasm-vcr

codecov.yml:

# Codecov Configuration
# https://docs.codecov.com/docs/codecov-yaml

codecov:
  require_ci_to_pass: true

coverage:
  precision: 2
  round: down
  range: "70...100"
  status:
    project:
      default:
        target: auto
        threshold: 1%
        informational: false
    patch:
      default:
        target: auto
        threshold: 1%
        informational: false

parsers:
  gcov:
    branch_detection:
      conditional: true
      loop: true
      macro: false
      method: false

comment:
  layout: "reach,diff,flags,files"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true

ignore:
  - "tests/**/*"
  - "local_dev/**/*"
  - "examples/**/*"
  - "docsrc/**/*"
  - "docs/**/*"
  - "**/__init__.py"
  - "**/conftest.py"
  - "**/models/**/*"
  - "zscaler/*/models/*"
  - "zscaler/zia/models/*"
  - "zscaler/zpa/models/*"
  - "zscaler/zcc/models/*"
  - "zscaler/zdx/models/*"
  - "zscaler/ztw/models/*"
  - "zscaler/zidentity/models/*"
  - "zscaler/zeasm/models/*"

flags:
  unittests:
    paths:
      - zscaler/
    carryforward: true
  zia-vcr:
    paths:
      - zscaler/zia/
    carryforward: true
  zpa-vcr:
    paths:
      - zscaler/zpa/
    carryforward: true
  zcc-vcr:
    paths:
      - zscaler/zcc/
    carryforward: true
  zdx-vcr:
    paths:
      - zscaler/zdx/
    carryforward: true
  ztw-vcr:
    paths:
      - zscaler/ztw/
    carryforward: true
  zidentity-vcr:
    paths:
      - zscaler/zidentity/
    carryforward: true
  zeasm-vcr:
    paths:
      - zscaler/zeasm/
    carryforward: true

# Codecov AI Configuration
ai_pr_review:
  enabled: true

fix: Added new pagination parameters to ZIA
  CHANGELOG.md
  docsrc/zs/guides/release_notes.rst
  poetry.lock
  requirements.txt
  zscaler/zia/url_filtering.py
Due: unittests, zia-vcr

fix: Added new pagination parameters to ZIA
  tests/integration/zia/test_url_filtering.py
Due: none

Notes added by 'git notes add'
  7f13a311bdd580a9469b310e0b0e05f3676f3853
Due: none

chore: Fixed ZCC VCR Cassette files
  tests/conftest.py
  tests/integration/zcc/cassettes/TestWebPolicyExtended.yaml
Due: none

fix: Fixed ZTW resources and added new ZIA endpoint
  CHANGELOG.md
  docsrc/conf.py
  docsrc/zs/guides/release_notes.rst
  poetry.lock
  pyproject.toml
  zscaler/__init__.py
  zscaler/utils.py
  zscaler/zia/cloud_firewall.py
  zscaler/zia/rule_labels.py
  zscaler/zia/sandbox.py
  zscaler/ztw/forwarding_rules.py
  zscaler/ztw/ip_destination_groups.py
  zscaler/ztw/models/forwarding_rules.py
  zscaler/ztw/provisioning_url.py
Due: unittests, zia-vcr, ztw-vcr

fix: Fixed ZTW resources and added new ZIA endpoint
  poetry.lock
  pyproject.toml
Due: none

fix: Fixed ZTW resources and added new ZIA endpoint (#450)
  CHANGELOG.md
  docsrc/conf.py
  docsrc/zs/guides/release_notes.rst
  poetry.lock
  pyproject.toml
  zscaler/__init__.py
  zscaler/utils.py
  zscaler/zia/cloud_firewall.py
  zscaler/zia/rule_labels.py
  zscaler/zia/sandbox.py
  zscaler/ztw/forwarding_rules.py
  zscaler/ztw/ip_destination_groups.py
  zscaler/ztw/models/forwarding_rules.py
  zscaler/ztw/provisioning_url.py
Due: unittests, zia-vcr, ztw-vcr

Notes added by 'git notes add'
  146c1af1854b85bf798bde333f34193476570f5f
Due: none

Replace flatdict with a helper implementation
  poetry.lock
  pyproject.toml
  tests/unit/test_helpers.py
  zscaler/config/config_setter.py
  zscaler/helpers.py
Due: unittests

fix: replace unmaintained flatdict dependency
  poetry.lock
  pyproject.toml
  zscaler/config/config_setter.py
  zscaler/utils.py
Due: unittests

fix: Add AIGuard endpoints, ZTW delete method, and replace flatdict dependency (#457)
  CHANGELOG.md
  Makefile
  docsrc/dev_requirements.txt
  docsrc/index.rst
  docsrc/zs/guides/release_notes.rst
  docsrc/zs/zaiguard/index.rst
  docsrc/zs/zaiguard/policy_detection.rst
  poetry.lock
  pyproject.toml
  requirements.txt
  tests/integration/zaiguard/README.md
  tests/integration/zaiguard/__init__.py
  tests/integration/zaiguard/cassettes/.gitkeep
  tests/integration/zaiguard/cassettes/TestPolicyDetection.yaml
  tests/integration/zaiguard/conftest.py
  tests/integration/zaiguard/test_policy_detection.py
  tests/integration/zaiguard/test_zaiguard_unit.py
  tests/integration/zia/cassettes/TestRuleLabels.yaml
  tests/integration/zia/sweep/run_sweep.py
  tests/integration/zia/test_rule_labels.py
  zscaler/config/config_setter.py
  zscaler/helpers.py
  zscaler/oneapi_client.py
  zscaler/oneapi_http_client.py
  zscaler/request_executor.py
  zscaler/zaiguard/__init__.py
  zscaler/zaiguard/legacy.py
  zscaler/zaiguard/models/__init__.py
  zscaler/zaiguard/models/policy_detection.py
  zscaler/zaiguard/policy_detection.py
  zscaler/zaiguard/zaiguard_service.py
  zscaler/zia/models/cloud_firewall_dns_rules.py
  zscaler/zia/models/cloud_firewall_ips_rules.py
  zscaler/zia/models/dlp_web_rules.py
  zscaler/zia/models/urlcategory.py
  zscaler/zpa/models/application_segment.py
  zscaler/ztw/forwarding_rules.py
Due: unittests, ztw-vcr

fix: Fixed GitHub Security issues
  zscaler/zaiguard/legacy.py
Due: unittests

fix: Fixed GitHub Security issues
  tests/integration/zcc/cassettes/TestAdminUser.yaml
  tests/integration/zcc/cassettes/TestAdminUserExtended.yaml
  tests/integration/zcc/cassettes/TestCompanyInfo.yaml
  tests/integration/zcc/cassettes/TestDevice.yaml
  tests/integration/zcc/cassettes/TestDeviceDownloads.yaml
  tests/integration/zcc/cassettes/TestDeviceExtended.yaml
  tests/integration/zcc/cassettes/TestDeviceRemoval.yaml
  tests/integration/zcc/cassettes/TestEntitlements.yaml
  tests/integration/zcc/cassettes/TestEntitlementsExtended.yaml
  tests/integration/zcc/cassettes/TestFailOpenPolicy.yaml
  tests/integration/zcc/cassettes/TestFailOpenPolicyExtended.yaml
  tests/integration/zcc/cassettes/TestForwardingProfile.yaml
  tests/integration/zcc/cassettes/TestForwardingProfileCRUD.yaml
  tests/integration/zcc/cassettes/TestForwardingProfileExtended.yaml
  tests/integration/zcc/cassettes/TestSecrets.yaml
  tests/integration/zcc/cassettes/TestTrustedNetworks.yaml
  tests/integration/zcc/cassettes/TestTrustedNetworksCRUD.yaml
  tests/integration/zcc/cassettes/TestTrustedNetworksExtended.yaml
  tests/integration/zcc/cassettes/TestWebAppService.yaml
  tests/integration/zcc/cassettes/TestWebPolicyCRUD.yaml
  tests/integration/zcc/cassettes/TestWebPolicyExtended.yaml
  tests/integration/zcc/cassettes/TestWebPrivacy.yaml
Due: none

fix: Fixed GitHub Security issues
  tests/integration/zcc/cassettes/TestAdminUser.yaml
  tests/integration/zcc/cassettes/TestAdminUserExtended.yaml
  tests/integration/zcc/cassettes/TestCompanyInfo.yaml
  tests/integration/zcc/cassettes/TestDevice.yaml
  tests/integration/zcc/cassettes/TestDeviceDownloads.yaml
  tests/integration/zcc/cassettes/TestDeviceExtended.yaml
  tests/integration/zcc/cassettes/TestDeviceRemoval.yaml
  tests/integration/zcc/cassettes/TestEntitlements.yaml
  tests/integration/zcc/cassettes/TestEntitlementsExtended.yaml
  tests/integration/zcc/cassettes/TestFailOpenPolicy.yaml
  tests/integration/zcc/cassettes/TestFailOpenPolicyExtended.yaml
  tests/integration/zcc/cassettes/TestForwardingProfile.yaml
  tests/integration/zcc/cassettes/TestForwardingProfileCRUD.yaml
  tests/integration/zcc/cassettes/TestForwardingProfileExtended.yaml
  tests/integration/zcc/cassettes/TestSecrets.yaml
  tests/integration/zcc/cassettes/TestTrustedNetworks.yaml
  tests/integration/zcc/cassettes/TestTrustedNetworksCRUD.yaml
  tests/integration/zcc/cassettes/TestTrustedNetworksExtended.yaml
  tests/integration/zcc/cassettes/TestWebAppService.yaml
  tests/integration/zcc/cassettes/TestWebPolicy.yaml
  tests/integration/zcc/cassettes/TestWebPolicyCRUD.yaml
  tests/integration/zcc/cassettes/TestWebPolicyExtended.yaml
  tests/integration/zcc/cassettes/TestWebPrivacy.yaml
  zscaler/config/config_validator.py
  zscaler/zaiguard/legacy.py
Due: unittests

chore(release): 1.9.14
  pyproject.toml
  zscaler/__init__.py
Due: none

Notes added by 'git notes add'
  91333b6b162e964b67b1739282c58de55eb7beaa
Due: none

fix: Added New ZIA endpoints and new zia and zpa attributes
  CHANGELOG.md
  docsrc/conf.py
  docsrc/zs/zia/custom_file_types.rst
  pyproject.toml
  tests/integration/zia/test_casb_dlp_rules.py
  zscaler/__init__.py
  zscaler/zia/casb_dlp_rules.py
  zscaler/zia/cloud_firewall.py
  zscaler/zia/custom_file_types.py
  zscaler/zia/file_type_control_rule.py
  zscaler/zia/legacy.py
  zscaler/zia/models/casb_dlp_rules.py
  zscaler/zia/models/custom_file_types.py
  zscaler/zia/models/dlp_web_rules.py
  zscaler/zia/models/subclouds.py
  zscaler/zia/models/urlcategory.py
  zscaler/zia/rule_labels.py
  zscaler/zia/traffic_datacenters.py
  zscaler/zia/url_categories.py
  zscaler/zia/zia_service.py
  zscaler/zpa/app_protection.py
  zscaler/zpa/models/application_segment.py
  zscaler/zpa/models/pra_portal.py
Due: unittests, zia-vcr, zpa-vcr

fix: Fixed release-notes
  docsrc/zs/guides/release_notes.rst
Due: none

fix: Added New ZIA endpoints and new zia and zpa attributes (#459)
  CHANGELOG.md
  docsrc/conf.py
  docsrc/zs/guides/release_notes.rst
  docsrc/zs/zia/custom_file_types.rst
  pyproject.toml
  tests/integration/zia/test_casb_dlp_rules.py
  zscaler/__init__.py
  zscaler/zia/casb_dlp_rules.py
  zscaler/zia/cloud_firewall.py
  zscaler/zia/custom_file_types.py
  zscaler/zia/file_type_control_rule.py
  zscaler/zia/legacy.py
  zscaler/zia/models/casb_dlp_rules.py
  zscaler/zia/models/custom_file_types.py
  zscaler/zia/models/dlp_web_rules.py
  zscaler/zia/models/subclouds.py
  zscaler/zia/models/urlcategory.py
  zscaler/zia/rule_labels.py
  zscaler/zia/traffic_datacenters.py
  zscaler/zia/url_categories.py
  zscaler/zia/zia_service.py
  zscaler/zpa/app_protection.py
  zscaler/zpa/models/application_segment.py
  zscaler/zpa/models/pra_portal.py
Due: unittests, zia-vcr, zpa-vcr

Notes added by 'git notes add'
  11ed72a3c27e597f63470c2bfd3d3c4fe152b797
Due: none

fix: Fixed URLCategory model assigning function reference instead of calling form_list
  CHANGELOG.md
  docsrc/zs/guides/release_notes.rst
  zscaler/zia/models/urlcategory.py
Due: none

fix: Fixed URLCategory model assigning function reference instead of calling form_list (#460)
  CHANGELOG.md
  docsrc/zs/guides/release_notes.rst
  zscaler/zia/models/urlcategory.py
Due: none

chore(release): 1.9.16
  pyproject.toml
  zscaler/__init__.py
Due: none

fix: Added Zero Trust Branch Endpoints
  README.md
  poetry.lock
  pyproject.toml
  requirements.txt
  tests/unit/test_ztb_client.py
  zscaler/oneapi_client.py
  zscaler/oneapi_http_client.py
  zscaler/request_executor.py
  zscaler/ztb/__init__.py
  zscaler/ztb/alarms.py
  zscaler/ztb/legacy.py
  zscaler/ztb/models/__init__.py
  zscaler/ztb/models/alarms.py
  zscaler/ztb/ztb_service.py
Due: unittests

fix: Added new ZPA Tag Controller and ZTB New API Endpoint and API Client
  CHANGELOG.md
  docsrc/zs/guides/release_notes.rst
Due: none

fix: Fixed sync-deps
  poetry.lock
Due: none

Notes added by 'git notes add'
  ad/8c9b95d53590aebaceb212a0c0e9fb0851a234
Due: none

fix: Added New Services ZINS, ZMS, Business Insights, Updated Documentation
  .github/workflows/zins.yml
Due: none
