Repository zscaler/zscaler-sdk-python: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, zia-vcr, zpa-vcr, zcc-vcr, zdx-vcr, ztw-vcr, zidentity-vcr, zeasm-vcr

codecov.yml:

# Codecov Configuration
# https://docs.codecov.com/docs/codecov-yaml

codecov:
  require_ci_to_pass: true

coverage:
  precision: 2
  round: down
  range: "70...100"
  status:
    project:
      default:
        target: auto
        threshold: 1%
        informational: false
    patch:
      default:
        target: auto
        threshold: 1%
        informational: false

parsers:
  gcov:
    branch_detection:
      conditional: true
      loop: true
      macro: false
      method: false

comment:
  layout: "reach,diff,flags,files"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true

ignore:
  - "tests/**/*"
  - "local_dev/**/*"
  - "examples/**/*"
  - "docsrc/**/*"
  - "docs/**/*"
  - "**/__init__.py"
  - "**/conftest.py"
  - "**/models/**/*"
  - "zscaler/*/models/*"
  - "zscaler/zia/models/*"
  - "zscaler/zpa/models/*"
  - "zscaler/zcc/models/*"
  - "zscaler/zdx/models/*"
  - "zscaler/ztw/models/*"
  - "zscaler/zidentity/models/*"
  - "zscaler/zeasm/models/*"

flags:
  unittests:
    paths:
      - zscaler/
    carryforward: true
  zia-vcr:
    paths:
      - zscaler/zia/
    carryforward: true
  zpa-vcr:
    paths:
      - zscaler/zpa/
    carryforward: true
  zcc-vcr:
    paths:
      - zscaler/zcc/
    carryforward: true
  zdx-vcr:
    paths:
      - zscaler/zdx/
    carryforward: true
  ztw-vcr:
    paths:
      - zscaler/ztw/
    carryforward: true
  zidentity-vcr:
    paths:
      - zscaler/zidentity/
    carryforward: true
  zeasm-vcr:
    paths:
      - zscaler/zeasm/
    carryforward: true

# Codecov AI Configuration
ai_pr_review:
  enabled: true

Notes added by 'git notes add'
  f6/23afa06acfce215fd40b169c8676ebc428bbad
Due: none

chore(release): 1.9.18
  zscaler/__init__.py
Due: none

fix: Fixed ZPA Service Edge Controller attribute incosistency
  CHANGELOG.md
  docsrc/conf.py
  docsrc/zs/guides/release_notes.rst
  docsrc/zs/zid/index.rst
  docsrc/zs/zins/index.rst
  pyproject.toml
  zscaler/zpa/service_edges.py
Due: unittests, zpa-vcr

fix: Fixed ZPA Service Edge Controller attribute incosistency
  .github/workflows/zins.yml
Due: none

fix: Fixed ZPA Service Edge Controller attribute incosistency (#476)
  .github/workflows/zins.yml
  CHANGELOG.md
  docsrc/conf.py
  docsrc/zs/guides/release_notes.rst
  docsrc/zs/zid/index.rst
  docsrc/zs/zins/index.rst
  pyproject.toml
  zscaler/zpa/service_edges.py
Due: unittests, zpa-vcr

Notes added by 'git notes add'
  c8/60a92ac6c1de33f5c24b6a69627674e1233f8e
Due: none

chore(release): 1.9.19
  zscaler/__init__.py
Due: none

fix: Fixed ZIA Pagination has_next return value and added JMESPath client-site filtering support
  .github/workflows/zcc_test.yml
  .github/workflows/zeasm.yml
  .github/workflows/zia-test.yml
  .github/workflows/zid_test.yml
  .github/workflows/zms.yml
  .github/workflows/zpa_test.yml
  .github/workflows/ztw_test.yml
Due: none

fix: Fixed ZIA Pagination has_next return value and added JMESPath client-site filtering support
  zscaler/zia/forwarding_control.py
Due: unittests, zia-vcr

fix: Fixed ZIA Pagination has_next return value and added JMESPath client-site filtering support
  .github/workflows/release.yml
  .github/workflows/test_sdk.yml
Due: none

Notes added by 'git notes add'
  e0/7efe56f09a3757e69044d5447596e4e8772eff
Due: none

fix: migrate ZIdentity service to /ziam/admin/api/v1 via standard api.zsapi.net gateway
  .gitignore
  CHANGELOG.md
  docsrc/conf.py
  docsrc/zs/guides/release_notes.rst
  poetry.lock
  pyproject.toml
  requirements.txt
  trivy.yaml
  zscaler/__init__.py
  zscaler/oneapi_response.py
  zscaler/request_executor.py
  zscaler/zid/api_client.py
  zscaler/zid/groups.py
  zscaler/zid/resource_servers.py
  zscaler/zid/user_entitlement.py
  zscaler/zid/users.py
Due: unittests

fix: Fixed ziam unit tests
  tests/unit/test_oneapi_response.py
  tests/unit/test_request_executor.py
  zscaler/request_executor.py
Due: unittests

fix: Fixed ZID unit tests
  tests/integration/zid/cassettes/TestGroups.yaml
  tests/integration/zid/cassettes/TestResourceServers.yaml
  tests/integration/zid/cassettes/TestUsers.yaml
  tests/integration/zid/test_users.py
  zscaler/request_executor.py
Due: unittests

fix: Fixed ZCC Tests and Documentation
  CHANGELOG.md
  README.md
  docsrc/index.rst
  tests/integration/zcc/cassettes/TestCompanyInfo.yaml
  zscaler/zcc/models/getcompanyinfo.py
Due: none

fix: Fixed ZCC Tests and Documentation
  tests/unit/test_request_executor.py
Due: none

fix: migrate ZIdentity service to /ziam/admin/api/v1 via standard api.zsapi.net gateway (#484)
  .gitignore
  CHANGELOG.md
  README.md
  docsrc/conf.py
  docsrc/index.rst
  docsrc/zs/guides/release_notes.rst
  poetry.lock
  pyproject.toml
  requirements.txt
  tests/integration/zcc/cassettes/TestCompanyInfo.yaml
  tests/integration/zid/cassettes/TestGroups.yaml
  tests/integration/zid/cassettes/TestResourceServers.yaml
  tests/integration/zid/cassettes/TestUsers.yaml
  tests/integration/zid/test_users.py
  tests/unit/test_oneapi_response.py
  tests/unit/test_request_executor.py
  trivy.yaml
  zscaler/__init__.py
  zscaler/oneapi_response.py
  zscaler/request_executor.py
  zscaler/zcc/models/getcompanyinfo.py
  zscaler/zid/api_client.py
  zscaler/zid/groups.py
  zscaler/zid/resource_servers.py
  zscaler/zid/user_entitlement.py
  zscaler/zid/users.py
Due: unittests

Notes added by 'git notes add'
  8d/374985c8a23bf98de206dc4f035123ce3c7def
Due: none

update docstring for add_access_rule
  zscaler/zpa/policies.py
Due: unittests, zpa-vcr

fix: Fixed zia nw_services attribute isNameL10nTag parsing
  CHANGELOG.md
  Makefile
  docsrc/conf.py
  docsrc/zs/guides/release_notes.rst
  pyproject.toml
  zscaler/__init__.py
  zscaler/api_client.py
  zscaler/utils.py
  zscaler/zia/cloud_firewall.py
  zscaler/zia/models/advanced_settings.py
  zscaler/zia/models/cloud_firewall_nw_service.py
Due: unittests, zia-vcr

fix: Fixed zia nw_services attribute isNameL10nTag parsing
  poetry.lock
  requirements.txt
Due: none

fix: Fixed zia nw_services attribute isNameL10nTag parsing (#493)
  CHANGELOG.md
  Makefile
  docsrc/conf.py
  docsrc/zs/guides/release_notes.rst
  poetry.lock
  pyproject.toml
  requirements.txt
  zscaler/__init__.py
  zscaler/api_client.py
  zscaler/utils.py
  zscaler/zia/cloud_firewall.py
  zscaler/zia/models/advanced_settings.py
  zscaler/zia/models/cloud_firewall_nw_service.py
Due: unittests, zia-vcr

Notes added by 'git notes add'
  e2/b803cbca8f247bb161f9a3bf3f73b80f0b11f2
Due: none

fix: announce v2.x public preview, add UPGRADE_GUIDE and SECURITY policy
  CHANGELOG.md
  README.md
  SECURITY.md
  UPGRADE_GUIDE.md
  docsrc/conf.py
  docsrc/zs/guides/release_notes.rst
  poetry.lock
  pyproject.toml
  requirements.txt
  zscaler/__init__.py
  zscaler/zpa/models/app_connector_groups.py
Due: none

fix: announce v2.x public preview, add UPGRADE_GUIDE and SECURITY policy (#496)
  CHANGELOG.md
  README.md
  SECURITY.md
  UPGRADE_GUIDE.md
  docsrc/conf.py
  docsrc/zs/guides/release_notes.rst
  poetry.lock
  pyproject.toml
  requirements.txt
  zscaler/__init__.py
  zscaler/zpa/models/app_connector_groups.py
Due: none

Notes added by 'git notes add'
  99/d191e9f6d3cc71fb06f5a7e17eed47b4024006
Due: none

fix: Fixed ZIA PAC File function and Added SDKv2 Issue Template
  .github/ISSUE_TEMPLATE/sdk-v2-issue.md
  CHANGELOG.md
  docsrc/conf.py
  docsrc/zs/guides/release_notes.rst
  pyproject.toml
  zscaler/__init__.py
  zscaler/zia/models/pac_files.py
  zscaler/zia/pac_files.py
Due: unittests, zia-vcr

fix: Fixed ZIA PAC File function and Added SDKv2 Issue Template (#499)
  .github/ISSUE_TEMPLATE/sdk-v2-issue.md
  CHANGELOG.md
  docsrc/conf.py
  docsrc/zs/guides/release_notes.rst
  pyproject.toml
  zscaler/__init__.py
  zscaler/zia/models/pac_files.py
  zscaler/zia/pac_files.py
Due: unittests, zia-vcr

Notes added by 'git notes add'
  89/a079411689fb4c6495ff6d95c619679318fbd1
Due: none

fix: Fixed ZCC Unit Tests
  tests/unit/zcc/fixtures/web_policy/android_policy.json
  tests/unit/zcc/fixtures/web_policy/ios_policy.json
  tests/unit/zcc/fixtures/web_policy/linux_policy.json
  tests/unit/zcc/fixtures/web_policy/mac_policy.json
  tests/unit/zcc/fixtures/web_policy/windows_policy.json
  tests/unit/zcc/test_zcc_serialize.py
Due: none

Notes added by 'git notes add'
  15/41be8c2203d6addfffdc08adfa3efab93e4ce8
Due: none

fix: ZCC-#502 Forwarding Profile App Profiles models
  CHANGELOG.md
  docsrc/conf.py
  docsrc/zs/guides/release_notes.rst
  pyproject.toml
  tests/unit/zcc/fixtures/forwarding_profile/payload.json
  tests/unit/zcc/test_forwarding_profile_serialize.py
  tests/unit/zcc/test_zcc_serialize.py
  zscaler/__init__.py
  zscaler/helpers.py
  zscaler/zcc/forwarding_profile.py
  zscaler/zcc/models/forwardingprofile.py
  zscaler/zcc/models/webpolicy.py
Due: unittests, zcc-vcr

fix: ZCC-#502 Forwarding Profile App Profiles models (#502)
  CHANGELOG.md
  docsrc/conf.py
  docsrc/zs/guides/release_notes.rst
  pyproject.toml
  tests/unit/zcc/fixtures/forwarding_profile/payload.json
  tests/unit/zcc/test_forwarding_profile_serialize.py
  tests/unit/zcc/test_zcc_serialize.py
  zscaler/__init__.py
  zscaler/helpers.py
  zscaler/zcc/forwarding_profile.py
  zscaler/zcc/models/forwardingprofile.py
  zscaler/zcc/models/webpolicy.py
Due: unittests, zcc-vcr

Notes added by 'git notes add'
  19/7867f509af5c8a748862b32223cd8b659771a9
Due: none
