Repository zscaler/zscaler-sdk-python: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, zia-vcr, zpa-vcr, zcc-vcr, zdx-vcr, ztw-vcr, zidentity-vcr, zeasm-vcr

codecov.yml:

# Codecov Configuration
# https://docs.codecov.com/docs/codecov-yaml

codecov:
  require_ci_to_pass: true

coverage:
  precision: 2
  round: down
  range: "70...100"
  status:
    project:
      default:
        target: auto
        threshold: 1%
        informational: false
    patch:
      default:
        target: auto
        threshold: 1%
        informational: false

parsers:
  gcov:
    branch_detection:
      conditional: true
      loop: true
      macro: false
      method: false

comment:
  layout: "reach,diff,flags,files"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true

ignore:
  - "tests/**/*"
  - "local_dev/**/*"
  - "examples/**/*"
  - "docsrc/**/*"
  - "docs/**/*"
  - "**/__init__.py"
  - "**/conftest.py"
  - "**/models/**/*"
  - "zscaler/*/models/*"
  - "zscaler/zia/models/*"
  - "zscaler/zpa/models/*"
  - "zscaler/zcc/models/*"
  - "zscaler/zdx/models/*"
  - "zscaler/ztw/models/*"
  - "zscaler/zidentity/models/*"
  - "zscaler/zeasm/models/*"

flags:
  unittests:
    paths:
      - zscaler/
    carryforward: true
  zia-vcr:
    paths:
      - zscaler/zia/
    carryforward: true
  zpa-vcr:
    paths:
      - zscaler/zpa/
    carryforward: true
  zcc-vcr:
    paths:
      - zscaler/zcc/
    carryforward: true
  zdx-vcr:
    paths:
      - zscaler/zdx/
    carryforward: true
  ztw-vcr:
    paths:
      - zscaler/ztw/
    carryforward: true
  zidentity-vcr:
    paths:
      - zscaler/zidentity/
    carryforward: true
  zeasm-vcr:
    paths:
      - zscaler/zeasm/
    carryforward: true

# Codecov AI Configuration
ai_pr_review:
  enabled: true

Notes added by 'git notes add'
  31/8fafd31e48f1c802b8673e0d67f68bb9d94a24
Due: none

feat(aiguard): add optional headers to resolve_and_execute_policy
  CHANGELOG.md
  pyproject.toml
  zscaler/aiguard/policy_detection.py
Due: unittests

chore(release): 1.11.0
  pyproject.toml
  zscaler/__init__.py
Due: none

Notes added by 'git notes add'
  d7/b9f685795a23f90cedca1658bf81fa17194b7e
Due: none

fix(zpa,zia): resolve reported ZPA policy, segment, service edge and ZIA Shadow IT bugs
  CHANGELOG.md
  CLAUDE.md
  README.md
  docsrc/zs/guides/release_notes.rst
  poetry.lock
  requirements.txt
  tests/integration/zia/test_shadow_it_report.py
  tests/unit/test_zia_shadow_it_report.py
  tests/unit/test_zpa_app_segment_server_groups.py
  tests/unit/test_zpa_application_segment_clientless.py
  tests/unit/test_zpa_policies.py
  tests/unit/test_zpa_service_edges.py
  zscaler/zia/shadow_it_report.py
  zscaler/zpa/app_connector_groups.py
  zscaler/zpa/app_segments_ba.py
  zscaler/zpa/app_segments_ba_v2.py
  zscaler/zpa/app_segments_inspection.py
  zscaler/zpa/app_segments_pra.py
  zscaler/zpa/application_segment.py
  zscaler/zpa/policies.py
  zscaler/zpa/service_edge_group.py
  zscaler/zpa/service_edges.py
Due: unittests, zia-vcr, zpa-vcr

test(zpa): assert exact error message in clientless segment test
  tests/unit/test_zpa_application_segment_clientless.py
Due: none

fix: resolve reported ZPA policy, segment, service edge and ZIA Shadow IT bugs (#595)
  CHANGELOG.md
  CLAUDE.md
  README.md
  docsrc/zs/guides/release_notes.rst
  poetry.lock
  requirements.txt
  tests/integration/zia/test_shadow_it_report.py
  tests/unit/test_zia_shadow_it_report.py
  tests/unit/test_zpa_app_segment_server_groups.py
  tests/unit/test_zpa_application_segment_clientless.py
  tests/unit/test_zpa_policies.py
  tests/unit/test_zpa_service_edges.py
  zscaler/zia/shadow_it_report.py
  zscaler/zpa/app_connector_groups.py
  zscaler/zpa/app_segments_ba.py
  zscaler/zpa/app_segments_ba_v2.py
  zscaler/zpa/app_segments_inspection.py
  zscaler/zpa/app_segments_pra.py
  zscaler/zpa/application_segment.py
  zscaler/zpa/policies.py
  zscaler/zpa/service_edge_group.py
  zscaler/zpa/service_edges.py
Due: unittests, zia-vcr, zpa-vcr

chore(release): 1.11.1
  pyproject.toml
  zscaler/__init__.py
Due: none

Notes added by 'git notes add'
  20/1a441ac703c567e27b095639336c4992802152
Due: none

fix(zpa): auto-populate required enrollment_cert_id for connector and service edge groups (#565)
  CHANGELOG.md
  docsrc/zs/guides/release_notes.rst
  tests/integration/zpa/cassettes/TestAccessPolicyRule.yaml
  tests/integration/zpa/cassettes/TestAccessPrivilegedConsoleV2.yaml
  tests/integration/zpa/cassettes/TestAppConnectorGroup.yaml
  tests/integration/zpa/cassettes/TestAppConnectorGroupProvisioningKey.yaml
  tests/integration/zpa/cassettes/TestApplicationSegment.yaml
  tests/integration/zpa/cassettes/TestApplicationSegmentInspection.yaml
  tests/integration/zpa/cassettes/TestApplicationSegmentPRA.yaml
  tests/integration/zpa/cassettes/TestPRAApproval.yaml
  tests/integration/zpa/cassettes/TestServerGroup.yaml
  tests/integration/zpa/cassettes/TestServiceEdgeGroup.yaml
  tests/integration/zpa/cassettes/TestServiceEdgeGroupProvisioningKey.yaml
  tests/unit/test_zpa_enrollment_cert_lookup.py
  zscaler/zpa/app_connector_groups.py
  zscaler/zpa/enrollment_certificates.py
  zscaler/zpa/models/service_edge_groups.py
  zscaler/zpa/service_edge_group.py
Due: unittests, zpa-vcr

test(zpa): re-record cassettes for enrollment cert lookup; fix ZIA cloudAppRiskProfile parsing (#565, #586)
  CHANGELOG.md
  docsrc/zs/guides/release_notes.rst
  tests/unit/test_zia_cloudappcontrol_model.py
  zscaler/zia/models/cloudappcontrol.py
Due: none

test: restore ZPA cassettes with enrollment cert lookup interactions (#565)
  tests/integration/zpa/cassettes/TestAccessPolicyRule.yaml
  tests/integration/zpa/cassettes/TestAccessPrivilegedConsoleV2.yaml
  tests/integration/zpa/cassettes/TestAppConnectorGroup.yaml
  tests/integration/zpa/cassettes/TestAppConnectorGroupProvisioningKey.yaml
  tests/integration/zpa/cassettes/TestApplicationSegment.yaml
  tests/integration/zpa/cassettes/TestApplicationSegmentInspection.yaml
  tests/integration/zpa/cassettes/TestApplicationSegmentPRA.yaml
  tests/integration/zpa/cassettes/TestPRAApproval.yaml
  tests/integration/zpa/cassettes/TestServerGroup.yaml
  tests/integration/zpa/cassettes/TestServiceEdgeGroup.yaml
  tests/integration/zpa/cassettes/TestServiceEdgeGroupProvisioningKey.yaml
Due: none

fix: auto-populate required enrollment_cert_id for connector and service edge groups (#565) (#596)
  CHANGELOG.md
  docsrc/zs/guides/release_notes.rst
  tests/integration/zpa/cassettes/TestAccessPolicyRule.yaml
  tests/integration/zpa/cassettes/TestAccessPrivilegedConsoleV2.yaml
  tests/integration/zpa/cassettes/TestAppConnectorGroup.yaml
  tests/integration/zpa/cassettes/TestAppConnectorGroupProvisioningKey.yaml
  tests/integration/zpa/cassettes/TestApplicationSegment.yaml
  tests/integration/zpa/cassettes/TestApplicationSegmentInspection.yaml
  tests/integration/zpa/cassettes/TestApplicationSegmentPRA.yaml
  tests/integration/zpa/cassettes/TestPRAApproval.yaml
  tests/integration/zpa/cassettes/TestServerGroup.yaml
  tests/integration/zpa/cassettes/TestServiceEdgeGroup.yaml
  tests/integration/zpa/cassettes/TestServiceEdgeGroupProvisioningKey.yaml
  tests/unit/test_zia_cloudappcontrol_model.py
  tests/unit/test_zpa_enrollment_cert_lookup.py
  zscaler/zia/models/cloudappcontrol.py
  zscaler/zpa/app_connector_groups.py
  zscaler/zpa/enrollment_certificates.py
  zscaler/zpa/models/service_edge_groups.py
  zscaler/zpa/service_edge_group.py
Due: unittests, zpa-vcr

chore(release): 1.11.2
  pyproject.toml
  zscaler/__init__.py
Due: none

Notes added by 'git notes add'
  cb/42eec7717125e3a9993425d977d5c3f20bb6ac
Due: none
