Repository zscaler/zscaler-sdk-python: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, zia-vcr, zpa-vcr, zcc-vcr, zdx-vcr, ztw-vcr, zidentity-vcr, zeasm-vcr

codecov.yml:

# Codecov Configuration
# https://docs.codecov.com/docs/codecov-yaml

codecov:
  require_ci_to_pass: true

coverage:
  precision: 2
  round: down
  range: "70...100"
  status:
    project:
      default:
        target: auto
        threshold: 1%
        informational: false
    patch:
      default:
        target: auto
        threshold: 1%
        informational: false

parsers:
  gcov:
    branch_detection:
      conditional: true
      loop: true
      macro: false
      method: false

comment:
  layout: "reach,diff,flags,files"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true

ignore:
  - "tests/**/*"
  - "local_dev/**/*"
  - "examples/**/*"
  - "docsrc/**/*"
  - "docs/**/*"
  - "**/__init__.py"
  - "**/conftest.py"
  - "**/models/**/*"
  - "zscaler/*/models/*"
  - "zscaler/zia/models/*"
  - "zscaler/zpa/models/*"
  - "zscaler/zcc/models/*"
  - "zscaler/zdx/models/*"
  - "zscaler/ztw/models/*"
  - "zscaler/zidentity/models/*"
  - "zscaler/zeasm/models/*"

flags:
  unittests:
    paths:
      - zscaler/
    carryforward: true
  zia-vcr:
    paths:
      - zscaler/zia/
    carryforward: true
  zpa-vcr:
    paths:
      - zscaler/zpa/
    carryforward: true
  zcc-vcr:
    paths:
      - zscaler/zcc/
    carryforward: true
  zdx-vcr:
    paths:
      - zscaler/zdx/
    carryforward: true
  ztw-vcr:
    paths:
      - zscaler/ztw/
    carryforward: true
  zidentity-vcr:
    paths:
      - zscaler/zidentity/
    carryforward: true
  zeasm-vcr:
    paths:
      - zscaler/zeasm/
    carryforward: true

# Codecov AI Configuration
ai_pr_review:
  enabled: true

fix: ZPA-#507 unify ID-list helper and preserve string IDs on the wire
  CHANGELOG.md
  CLAUDE.md
  docsrc/conf.py
  docsrc/zs/guides/release_notes.rst
  poetry.lock
  pyproject.toml
  tests/integration/zcc/test_web_policy.py
  tests/unit/test_utils.py
  zscaler/__init__.py
  zscaler/utils.py
  zscaler/zcc/models/forwardingprofile.py
  zscaler/zpa/app_segments_ba.py
  zscaler/zpa/app_segments_ba_v2.py
  zscaler/zpa/app_segments_inspection.py
  zscaler/zpa/app_segments_pra.py
  zscaler/zpa/application_segment.py
  zscaler/zpa/policies.py
  zscaler/zpa/server_groups.py
  zscaler/zpa/user_portal_link.py
Due: unittests, zpa-vcr

Notes added by 'git notes add'
  13/cc9d2212318205a31a069d5dcd94cf10b87f76
Due: none

fix: Strip applications attribute from the server_groups.update_group() payload to prevent payload size exceeded
  CHANGELOG.md
  docsrc/zs/guides/release_notes.rst
  poetry.lock
  requirements.txt
  zscaler/zpa/server_groups.py
Due: unittests, zpa-vcr

fix: Strip applications attribute from the server_groups.update_group() payload to prevent payload size exceeded (#510)
  CHANGELOG.md
  docsrc/zs/guides/release_notes.rst
  poetry.lock
  requirements.txt
  zscaler/zpa/server_groups.py
Due: unittests, zpa-vcr

chore(release): 1.9.28
  pyproject.toml
  zscaler/__init__.py
Due: none

Notes added by 'git notes add'
  44/f2f8f9ec06b1998a904c3e4080a0e034a85078
Due: none

Notes added by 'git notes add'
  8d/054b1fdd18bcb29722b7051dc282c0d1c86be6
Due: none

fix: Fixed ZPA LSS Config Update function, Added ZIA Secure Browsing Resources, Documentation Update
  CHANGELOG.md
  docsrc/index.rst
  docsrc/zs/guides/release_notes.rst
  docsrc/zs/zia/ips_signature_rules.rst
  docsrc/zs/zia/secure_browsing.rst
  poetry.lock
  pyproject.toml
  requirements.txt
  tests/integration/zia/cassettes/TestSecureBrowsing.yaml
  tests/integration/zia/test_secure_browsing.py
  zscaler/__init__.py
  zscaler/zia/ips_signature_rules.py
  zscaler/zia/legacy.py
  zscaler/zia/models/secure_browsing.py
  zscaler/zia/models/url_filtering_rules.py
  zscaler/zia/secure_browsing.py
  zscaler/zia/zia_service.py
  zscaler/zpa/lss.py
Due: unittests, zia-vcr, zpa-vcr

chore: Fixed Ruff Linter warnings
  zscaler/zia/models/secure_browsing.py
  zscaler/zia/secure_browsing.py
  zscaler/zia/zia_service.py
Due: unittests, zia-vcr

chore: Fixed Ruff Linter warnings
  zscaler/zia/legacy.py
Due: unittests, zia-vcr

fix: Fixed ZPA LSS Config Update function, Added ZIA Secure Browsing Resources, Documentation Update (#517)
  CHANGELOG.md
  docsrc/index.rst
  docsrc/zs/guides/release_notes.rst
  docsrc/zs/zia/ips_signature_rules.rst
  docsrc/zs/zia/secure_browsing.rst
  poetry.lock
  pyproject.toml
  requirements.txt
  tests/integration/zia/cassettes/TestSecureBrowsing.yaml
  tests/integration/zia/test_secure_browsing.py
  zscaler/__init__.py
  zscaler/zia/ips_signature_rules.py
  zscaler/zia/legacy.py
  zscaler/zia/models/secure_browsing.py
  zscaler/zia/models/url_filtering_rules.py
  zscaler/zia/secure_browsing.py
  zscaler/zia/zia_service.py
  zscaler/zpa/lss.py
Due: unittests, zia-vcr, zpa-vcr

Notes added by 'git notes add'
  b4/5f8610143631105ad261cf51af56fa064a3ac4
Due: none

fix: Added New ZIA Endpoints Email Profiles, and Fixed ZPA Application Segment and Connectors
  CHANGELOG.md
  docsrc/conf.py
  docsrc/zs/guides/release_notes.rst
  docsrc/zs/zia/email_profiles.rst
  pyproject.toml
  zscaler/__init__.py
  zscaler/zia/email_profiles.py
  zscaler/zia/legacy.py
  zscaler/zia/models/email_profiles.py
  zscaler/zia/zia_service.py
  zscaler/zpa/legacy.py
  zscaler/zpa/models/app_connector_groups.py
  zscaler/zpa/models/application_segment.py
Due: unittests, zia-vcr, zpa-vcr

fix: Added New ZIA Endpoints Email Profiles, and Fixed ZPA Application Segment and Connectors
  poetry.lock
  tests/integration/zia/cassettes/TestEmailProfiles.yaml
  tests/integration/zia/test_email_profiles.py
  zscaler/zia/email_profiles.py
  zscaler/zia/legacy.py
  zscaler/zia/models/email_profiles.py
  zscaler/zia/zia_service.py
Due: unittests, zia-vcr

fix: Added New ZIA Endpoints Email Profiles, and Fixed ZPA Application Segment and Connectors
  requirements.txt
Due: none

fix: Added New ZIA Endpoints Email Profiles, and Fixed ZPA Application Segment and Connectors (#525)
  CHANGELOG.md
  docsrc/conf.py
  docsrc/zs/guides/release_notes.rst
  docsrc/zs/zia/email_profiles.rst
  poetry.lock
  pyproject.toml
  requirements.txt
  tests/integration/zia/cassettes/TestEmailProfiles.yaml
  tests/integration/zia/test_email_profiles.py
  zscaler/__init__.py
  zscaler/zia/email_profiles.py
  zscaler/zia/legacy.py
  zscaler/zia/models/email_profiles.py
  zscaler/zia/zia_service.py
  zscaler/zpa/legacy.py
  zscaler/zpa/models/app_connector_groups.py
  zscaler/zpa/models/application_segment.py
Due: unittests, zia-vcr, zpa-vcr

Notes added by 'git notes add'
  b3/c3645fd530b668c463ce5f1331cfcfc7cb4c00
Due: none

fix: Fixed README documentation to include FedRAMP authentication instructions
  README.md
  docsrc/index.rst
Due: none

fix: Fixed README documentation to include FedRAMP authentication instructions
  tests/unit/test_oauth_proxy.py
  zscaler/constants.py
Due: unittests

fix: add OneAPI gov/govus cloud support; fix ZPA timeout rule reauth keys (#534)
  CHANGELOG.md
  README.md
  docsrc/conf.py
  docsrc/index.rst
  docsrc/zs/guides/release_notes.rst
  poetry.lock
  pyproject.toml
  requirements.txt
  tests/unit/test_oauth_proxy.py
  tests/unit/test_request_executor.py
  zscaler/__init__.py
  zscaler/constants.py
  zscaler/helpers.py
  zscaler/oneapi_oauth_client.py
  zscaler/request_executor.py
  zscaler/zcc/models/__init__.py
Due: unittests

Notes added by 'git notes add'
  7f/802ad8dbd175d631a9653324c46551e6ed373c
Due: none

fix: Fixed OneAPI (Zidentity US) support for the government (FedRAMP) clouds
  CHANGELOG.md
  docsrc/zs/guides/release_notes.rst
  zscaler/constants.py
Due: unittests

fix: Fixed unit test for zidentity fedramp
  CHANGELOG.md
  README.md
  docsrc/index.rst
  docsrc/zs/guides/release_notes.rst
  tests/unit/test_oauth_proxy.py
Due: none

fix: Fixed OneAPI (Zidentity US) support for the government (FedRAMP) clouds (#535)
  CHANGELOG.md
  README.md
  docsrc/index.rst
  docsrc/zs/guides/release_notes.rst
  tests/unit/test_oauth_proxy.py
  zscaler/constants.py
Due: unittests

chore(release): 1.9.33
  pyproject.toml
  zscaler/__init__.py
Due: none

Notes added by 'git notes add'
  33/b96b3f4767d3548594eafd76cb06b5ff6ed843
Due: none

fix: Fixed ZPA pra_approval attribute working_hours
  CHANGELOG.md
  docsrc/zs/guides/release_notes.rst
  poetry.lock
  pyproject.toml
  requirements.txt
  zscaler/__init__.py
  zscaler/zpa/pra_approval.py
Due: unittests, zpa-vcr

fix: Fixed ZPA pra_approval attribute working_hours (#539)
  CHANGELOG.md
  docsrc/zs/guides/release_notes.rst
  poetry.lock
  pyproject.toml
  requirements.txt
  zscaler/__init__.py
  zscaler/zpa/pra_approval.py
Due: unittests, zpa-vcr

Notes added by 'git notes add'
  a3/a7bee6cf145f426f49a83c1719a73cdd413e6f
Due: none

fix: Add configurable ZCell customer id and ZCell documentation
  CHANGELOG.md
  CLAUDE.md
  README.md
  docs/_sources/zs/zia/device_management.rst.txt
  docsrc/index.rst
  docsrc/zs/guides/release_notes.rst
  docsrc/zs/zcell/anomaly_policy.rst
  docsrc/zs/zcell/audit_data_handling.rst
  docsrc/zs/zcell/customer_data_handling.rst
  docsrc/zs/zcell/customer_region_handling.rst
  docsrc/zs/zcell/index.rst
  docsrc/zs/zcell/network_events.rst
  docsrc/zs/zcell/sim_analytics.rst
  docsrc/zs/zcell/sim_handling.rst
  docsrc/zs/zcell/sim_location_groups.rst
  docsrc/zs/zcell/tag_handling.rst
  docsrc/zs/zia/devices.rst
  pyproject.toml
  zscaler/__init__.py
  zscaler/config/config_setter.py
  zscaler/oneapi_client.py
  zscaler/utils.py
  zscaler/zcell/anomaly_policy.py
  zscaler/zcell/audit_data_handling.py
  zscaler/zcell/customer_data_handling.py
  zscaler/zcell/customer_region_handling.py
  zscaler/zcell/models/customer_data_handling.py
  zscaler/zcell/models/network_events.py
  zscaler/zcell/network_events.py
  zscaler/zcell/sim_analytics.py
  zscaler/zcell/sim_handling.py
  zscaler/zcell/sim_location_groups.py
  zscaler/zcell/tag_handling.py
  zscaler/zcell/zcell_service.py
  zscaler/zpa/pra_approval.py
Due: unittests, zpa-vcr

fix: Added ZIA and ZPA New Endpoints
  CHANGELOG.md
  docsrc/zs/guides/release_notes.rst
  poetry.lock
  requirements.txt
  zscaler/utils.py
  zscaler/zia/azure_integration.py
  zscaler/zia/http_header_control.py
  zscaler/zia/models/partner_integrations.py
  zscaler/zia/models/url_filtering_rules.py
  zscaler/zia/partner_integrations.py
  zscaler/zia/url_filtering.py
  zscaler/zpa/b2b_policy.py
  zscaler/zpa/business_continuity.py
  zscaler/zpa/legacy.py
  zscaler/zpa/models/policy_group.py
  zscaler/zpa/models/policy_group_rule.py
  zscaler/zpa/models/policy_group_set.py
  zscaler/zpa/policy_group.py
  zscaler/zpa/policy_group_rule.py
  zscaler/zpa/policy_group_set.py
  zscaler/zpa/tenant_federation_provisioning.py
  zscaler/zpa/zpa_service.py
Due: unittests, zia-vcr, zpa-vcr

fix: Added ZIA and ZPA New Endpoints
  zscaler/zia/partner_integrations.py
Due: unittests, zia-vcr

fix: Added ZIA and ZPA New Endpoints
  zscaler/zia/models/devices.py
Due: none

fix: Added ZIA and ZPA New Endpoints
  zscaler/zpa/b2b_policy.py
  zscaler/zpa/legacy.py
  zscaler/zpa/models/app_connector_groups.py
  zscaler/zpa/models/application_federation.py
  zscaler/zpa/models/business_continuity.py
  zscaler/zpa/models/one_identity.py
  zscaler/zpa/models/private_cloud.py
  zscaler/zpa/tenant_federation_provisioning.py
  zscaler/zpa/zpa_service.py
Due: unittests, zpa-vcr

fix: Added ZIA and ZPA New Endpoints
  zscaler/zia/device_management.py
  zscaler/zia/models/device_groups.py
  zscaler/zia/zia_service.py
  zscaler/zpa/app_connector_groups.py
Due: unittests, zia-vcr, zpa-vcr

Notes added by 'git notes add'
  46/d6f59c511781a7aa11fd8e6bc8061d402546ef
Due: none
